<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div><h3>Note details</h3></div>
      <div><h4><%= @note.body %></h4></div>
        <div><button>
          <% if Like.find_by(note_id: @note.id, user_id: current_user.id) == nil %>
            <%= link_to "like note", likes_path(note_id: @note.id), method: :create %>
          <% else %>
            <%= link_to "unlike note", like_path(@like, note_id: @note.id), method: :delete %>
          <% end %>
        </button></div>
      <div><h5>Created by: <%= @note.user.email %></h5>
      </div>      
    </div>
  </div>
</div>
