<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div>
        <h3>All Users List</h3>
      </div>
      <br>
    <table>
      <% @users.each do |user| %>
        <thead>
          <td>Name</td>
        </thead>
        <tr>
        <user.name>
        </tr>
      <% end %>
    </table>
    </div>
  </div>
</div>