<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div>
        <h3>All Users List</h3>
      </div>
      <br>
    <ol>
      <% @users.each do |user| %>
        <li>
        <%= user.email %>
          <% if current_user != user %>
              <% if Relationship.find_by(follower_id: current_user.id, followed_id: user.id) == nil %>
                <%= link_to "Follow user", relationships_path(followed_id: user.id), method: :create %>
              <% else %>
                <% @relationship = Relationship.find_by(follower_id: current_user.id, followed_id: user.id) %>
                <%= link_to "Unfollow user", relationship_path(@relationship), method: :delete %>
              <% end %>
          <% end %>
        </li>
      <% end %>
    </ol>
    </div>
  </div>
</div>
